<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="/Ready-Bootstrap-Dashboard-master/assets/img/kadirpp.jpeg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Kadir Halı
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Profili Düzenle</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item active">
				<a href="/Products/ProductList">
					<i class="la la-paperclip"></i>
					<p>Ürünler</p>
				</a>
			</li>
			<li class="nav-item active">
				<a href="/Categories/CategoryList">
					<i class="la la-list"></i>
					<p>Kategoriler</p>
				</a>
			<li class="nav-item active">
				<a href="/Sliders/SliderList">
					<i class="la la-credit-card"></i>
					<p>Ürün Kartları</p>
				</a>
			</li>
		</ul>
	</div>
</div>