@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    @await Html.PartialAsync("PartialHead")
</head>
<body>
    <div class="wrapper">
        @await Html.PartialAsync("PartialSidebar")
        <div class="main-panel">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
    @await Html.PartialAsync("PartialScript")
</body>
</html>
